.vscode/launch.json
/webapp/node_modules/*
/webapp/.env
webapp/config.json
webapp/prompts.json
webapp/auth.json
webapp/ollama-config.json
tempo.json
webapp/projects.json
webapp/bot.log
webapp/auto-run.json
